################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NotifIcon/RemoteLamp/__vm
/NotifIcon/RemoteLamp/src
/NotifIcon/.vs/NotifIcon/v16
